@import "tailwindcss";

@theme {
  --animate-pop: pop 0.5s ease-out;
  @keyframes pop {
    0%
    100% {
      transform: scale(1);
    }
    75% {
      transform: scale(0.75);
    }
  }
}

@theme {
  --animate-fade-in-up: fadeInUp 0.5s ease-out;
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10%) scale(1);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}